@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Test task for HOST company.</p>
<p>Performed by Pavel Chugaev.</p>
<p>Email: <b>chugaev1998@gmail.com</b>; Telegram: <b>pa1ch</b></p>
